@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
}
h4{
  font-size: large;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #42455a;
  padding: 20px;
  text-align: center;
}
header nav a {
  padding: 10px 20px;
  font-size: 2rem;
  color: #e0ffff;
  border-radius: 5px;
  letter-spacing: 0.5px;
}
header nav a:hover {
	letter-spacing: 2px;
	background-position: right bottom;
	transition: 0.5s ease-out;
}
header nav a.active {
  background: #00c2cb;
  transition: all .5s ease-out;
  color: #42455a;
  transition: 0.5s ease-out;
}
body {
  background: #42455a;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #e0ffff;
}
section:nth-child(2) {
  color: #42455a;
  background: #e0ffff;
}
section:nth-child(3) {
  color: #e0ffff;
}
section:nth-child(4) {
  color: #42455a;
  background: #e0ffff;
}
section:nth-child(5) {
  color: #e0ffff;
}
section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}


@keyframes flipY {
	0% {
		transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(0deg) rotatez(0deg);
   }
	20.25% {
		transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(90deg) rotatez(0deg);
   }
	100% {
		transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(90deg) rotatez(0deg);
   }
}
@keyframes flipY-innerCube {
	0% {
		transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotatex(0deg) rotatey(0deg) rotatez(0deg);
   }
	20.25% {
		transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotatex(0deg) rotatey(-90deg) rotatez(0deg);
   }
	100% {
		transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotatex(0deg) rotatey(-90deg) rotatez(0deg);
   }
}
@keyframes flipY-innerShadow {
	0% {
		transform: translatex(-50%) rotatex(-90deg) translatez(-20px) rotatez(0deg);
   }
	20.25% {
		transform: translatex(-50%) rotatex(-90deg) translatez(-20px) rotatez(-90deg);
   }
	100% {
		transform: translatex(-50%) rotatex(-90deg) translatez(-20px) rotatez(-90deg);
   }
}
@keyframes flipY-outterShadow {
	0% {
		transform: translatex(-50%) rotatex(-90deg) translatez(105px) rotatez(0deg);
   }
	20.25% {
		transform: translatex(-50%) rotatex(-90deg) translatez(105px) rotatez(90deg);
   }
	100% {
		transform: translatex(-50%) rotatex(-90deg) translatez(105px) rotatez(90deg);
   }
}
@keyframes border-front {
	0% {
		border-width: 1px 6px 6px 1px;
   }
	2.25% {
		border-width: 1px 6px 6px 1px;
   }
	5.75% {
		border-width: 1px 1px 1px 1px;
   }
	100% {
		border-width: 1px 1px 1px 1px;
   }
}
@keyframes border-back {
	0% {
		border-width: 1px 1px 1px 1px;
   }
	2.25% {
		border-width: 1px 1px 1px 1px;
   }
	5.75% {
		border-width: 1px 1px 6px 6px;
   }
	100% {
		border-width: 1px 1px 6px 6px;
   }
}
@keyframes border-top {
	0% {
		border-width: 6px 6px 1px 1px;
   }
	2.25% {
		border-width: 6px 6px 1px 1px;
   }
	5.75% {
		border-width: 1px 6px 6px 1px;
   }
	100% {
		border-width: 1px 6px 6px 1px;
   }
}
@keyframes border-left {
	0% {
		border-width: 1px 1px 6px 6px;
   }
	2.25% {
		border-width: 1px 1px 6px 6px;
   }
	5.75% {
		border-width: 1px 6px 6px 1px;
   }
	100% {
		border-width: 1px 6px 6px 1px;
   }
}
@keyframes hoverY {
	0% {
		transform: translatey(0px);
   }
	100% {
		transform: translatey(-30px);
   }
}
@keyframes scaleBigShadow {
	0% {
		transform: scale3d(0.65, 0.65, 0.65);
   }
	100% {
		transform: scale3d(0.6, 0.6, 0.6);
   }
}
@keyframes scaleSmallShadow {
	0% {
		transform: scale3d(0.45, 0.45, 0.45);
   }
	100% {
		transform: scale3d(0.37, 0.37, 0.37);
   }
}
.container {
	align-items: center;
	justify-content: center;
}
.scene {
	position: relative;
	width: 120px;
	height: 120px;
	margin-top: 120px;
	margin-left: 39%;
	transform-style: preserve-3d;
	transform: translateX(40px) rotatex(-33.5deg) rotatey(45deg);
}
.scene .webpack-cube {
	transform-style: preserve-3d;
	animation: hoverY 2s infinite alternate;
	animation-timing-function: ease-in-out;
}
.scene .outer-cube {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0;
	top: 0;
	transform-style: preserve-3d;
	animation: flipY 5.2s infinite;
	display: inline-block;
}
.scene .outer-cube .face {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(141, 214, 249, 0.5);
	line-height: 100px;
	border: 1px solid white;
}
.scene .outer-cube .face-front {
	transform: translatez(60px);
	border-right-width: 6px;
	border-bottom-width: 6px;
	animation: border-front 5.2s infinite;
}
.scene .outer-cube .face-back {
	transform: rotateY(180deg) translatez(60px);
	animation: border-back 5.2s infinite;
}
.scene .outer-cube .face-top {
	transform: rotatex(90deg) translatez(60px);
	border-top-width: 6px;
	border-right-width: 6px;
	animation: border-top 5.2s infinite;
}
.scene .outer-cube .face-bottom {
	transform: rotatex(-90deg) translatez(60px);
}
.scene .outer-cube .face-left {
	transform: rotateY(-90deg) translatez(60px);
	border-left-width: 6px;
	border-bottom-width: 6px;
	animation: border-left 5.2s infinite;
}
.scene .outer-cube .face-right {
	transform: rotateY(90deg) translatez(60px);
}
.scene .inner-cube {
	display: inline-block;
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0;
	top: -2px;
	transform-style: preserve-3d;
	animation: flipY-innerCube 5.2s infinite;
}
.scene .inner-cube .face {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #1d78c1;
	line-height: 100px;
	border: 2px solid white;
}
.scene .inner-cube .face-front {
	transform: translatez(60px);
}
.scene .inner-cube .face-back {
	transform: rotateY(180deg) translatez(60px);
}
.scene .inner-cube .face-top {
	transform: rotatex(90deg) translatez(60px);
}
.scene .inner-cube .face-bottom {
	transform: rotatex(-90deg) translatez(60px);
}
.scene .inner-cube .face-left {
	transform: rotateY(-90deg) translatez(60px);
}
.scene .inner-cube .face-right {
	transform: rotateY(90deg) translatez(60px);
}
.scene .shadows-outer-container {
	display: inline-block;
	transform-style: preserve-3d;
	width: 120px;
	height: 120px;
	transform: translatex(-50%) rotatex(-90deg) translatez(110px);
	animation: flipY-outterShadow 5.2s infinite;
}
.scene .shadows-outer-container .shadow-outer {
	display: inline-block;
	position: absolute;
	width: 120px;
	height: 120px;
	background-color: rgba(255, 255, 255, 0.5);
	animation: scaleBigShadow 2s infinite alternate;
	animation-timing-function: ease-in-out;
	box-shadow: 0px 0px 45px 35px rgba(255, 255, 255, 0.5);
	transform-origin: center center;
	transform: scale3d(0.8, 0.8, 0.8);
}
.scene .shadows-inner-container {
	display: inline-block;
	transform-style: preserve-3d;
	width: 120px;
	height: 120px;
	transform: translatex(-50%) rotatex(-90deg) translatez(0px) rotatez(0deg);
	animation: flipY-innerShadow 5.2s infinite;
}
.scene .shadows-inner-container .shadow-inner {
	display: inline-block;
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 15px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 10%, rgba(109, 109, 109, 0.7) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(109, 109, 109, 0.7) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(109, 109, 109, 0.7) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, rgba(0, 0, 0, 0) 10%, rgba(109, 109, 109, 0.7) 50%, rgba(0, 0, 0, 0));
	animation: scaleSmallShadow 2s infinite alternate;
	animation-timing-function: ease-in-out;
	transform-origin: center center;
	transform: scale3d(0.4, 0.4, 0.4);
}
