@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: darkgray;
  padding: 20px;
  text-align: center;
}
header nav a {
  padding: 10px 20px;
  font-size: 2rem;
  color: white;
  border-radius: 5px;
  letter-spacing: 0.5px;
}
header nav a:hover {
	letter-spacing: 2px;
	background-position: right bottom;
}
header nav a.active {
  background: red;
  transition: all .5s ease-out;
  color: black;
  transition: 0.5s ease-out;
}
body {
  background: darkgray;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: white;
}
section:nth-child(2) {
  color: black;
  background: white;
}
section:nth-child(3) {
  color: white;
}
section:nth-child(4) {
  color: black;
  background: white;
}
section:nth-child(5) {
  color: white;
}
section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: red;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}