{% block content %}
    <form action="" method='POST' name="myform">
        {{ form.csrt_token }}
        <p>Building</p>
        <input type="text" name="building"
               placeholder="Enter Building"
               value="{{ request.form['building'] }}"></input>
        {{ form.startdate.label }} {{form.startdate(class='datepicker')}} {{form.hidden_tag()}}
        <p>Start Time</p>
        <input type="time" id="appt" name="appt1"
        min="00:00" max="23:59" required>

        <p>End Time</p>
        <input type="time" id="appt" name="appt2"
        min="00:00" max="23:59" required>
        {{form.submit()}}
        </p>
    </form>
{% endblock %}